<%# =============== PARTIE FINIE ===============%>

<% if @party.end_time.present? %>
  <div class="container">
    <h1 class="title-page">Partie terminée!</h1>
    <div class="finish-container">
    </div>
    <% party.players.order(:score).reverse.each do |player| %>
      <%= cl_image_tag player.user.avatar.key, height: 40, width: 40, crop: :fit, class: "avatar" %>
      <p><%= player.user.username %> a marqué <%= player.score %> points</p>
    <% end %>
  </div>
  <% if current_user.achievements.where('updated_at > ?', DateTime.now - 2.minute).where(completed: true).present? %>
    <p>Bravo <%= current_user.username %> ! Tu as réussi ce(s) défi(s) :</p>
    <% current_user.achievements.where('updated_at > ?', DateTime.now - 2.minute).where(completed: true).take(3).each do |achievement| %>
      <ul>
        <li><%= achievement.challenge.title %></li>
      </ul>
    <% end %>
    <p>Tu as atteint le niveau <%= current_user.level %> !</p>
  <% end %>

  <%= button_to "Rejouer", boardgame_parties_path(@boardgame) %>
<%# =========================================%>
<% else %>
  <div class="container">
    <h1 class="title-page">Lancer une partie</h1>
  </div>
  <div data-controller="overlay"
      data-overlay-labels-value="<%= @labels %>"
      data-overlay-data-value="<%= @data %>"
      data-overlay-rotation-value="<%= @players.count > 1 ? @rotation_values.to_json : "" %>"
  >
    <div class="spin-overlay" data-overlay-target="overlay">
      <%= render "parties/roulette", players: @players %>
    </div>
    <%# =============== PLAYERS SECTION ===============%>
    <div class="container-party">
      <div class="section-selection">
        <h2 class="title-party mt-3">Sélection des joueurs</h2>
        <div class="player-container">
          <% @players.each do |player| %>
            <%# <h5><%= player.user.username %>
            <% if player.user.avatar.attached? %>
              <%= cl_image_tag player.user.avatar.key, height: 40, width: 40, crop: :fit, class: "avatar bounced" %>
              <%# <% else %>
                <%# <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fit, class: "avatar" %>
          <% end %>
        <% end %>
        </div>
        <div class="add-player">
        <%= simple_form_for [@party, @player] do |f| %>
          <%= f.label "Nouveau joueur :" %>
          <%= f.collection_select(:user_id, @users, :id, :username, {})%>
          <%= f.submit "Ajouter", class: "btn btn-dark btn-sm ms-3 add-btn" %>
        </div>
        <% end %>
      </div>
    </div>
    <%# =============== PARTIE EN COURS ===============%>

    <div class="container-go">
      <h2 class="title-party">C'est parti!</h2>
      <% if @players.count >= 2 %>
        <ul>
          <div class="first-player">
            <li>Qui commence ?	&nbsp;&nbsp;</li>
            <div class="spin-icon" data-action="click->overlay#display">
              <i class="fa-regular fa-life-ring fa-spin" style="color: #ffcd39;"></i>
            </div>
          </div>
        </ul>

      <% end %>
    </div>

    <%# =============== CHALLENGE BOARDGAME ===============%>

    <div class="container-challenges">
        <h2 class="title-party">Défis</h2>
      <% @boardgame.challenges.each do |challenge| %>
          <ul class="challenges">
            <li>🎯 <%= challenge.title %></p>
          </ul>
      <% end %>
    </div>

    <%# =============== PARTIE FINIE ===============%>
    <div class="container-scores">
      <h2 class="title-party">Scores</h2>
      <div class= "flex-scores">
        <div data-controller='form-party-end' class="w-100">
          <%= render 'players/form_party', players: @player %>
          <%# <%= render 'form_end_party', parties: @party %>
          <div class="d-flex align-items-center justify-content-between p-4" data-form-party-end-target="playersScores">
            <%= render "parties/players_scores", players: @players %>
          </div>
          <div class="d-flex justify-content-center">
            <%= simple_form_for [@party], data: { action: "submit->form-party-end#endParty" } do |f| %>
              <%= f.hidden_field :players, data: { form_party_end_target: "hidden" } %>
              <%= f.submit "Terminer", class: "btn btn-dark btn-sm" %>
            <% end %>
          </div>
          <%# tu vas avoir un formulaire avec un hidden field de tes players avec leur score %>
        </div>
      </div>
    </div>
    <div class="container-return-btn">
      <button class="btn btn-info return-game"><%= link_to "Retour au jeu", boardgame_path(@boardgame) %></button>
    </div>
  </div>
<% end %>
