<div data-controller="overlay"
  data-overlay-data-value="<%= @data %>"
  data-overlay-labels-value="<%= @labels %>"
  data-overlay-rotation-value="<%= @rotation_values.to_json %>"
  >
  <div class="container">
    <div>
      <h2>Sélection des joueurs</h2>
      <% @party.players.each do |player| %>
        <p><%= player.username %></p>
        <p><%= player.avatar %></p>
      <% end %>
      <%# <%= link_to "Ajouter un joueur", new_player_path %>
      <%= link_to "Retour au jeu", boardgame_path(@boardgame) %>

    </div>
    <h2>C'est parti!</h2>
    <ul>
      <li>Qui commence ? </li>
      <button data-action="click->overlay#display"><i class="fa-regular fa-circle-question"></i></button>
      <li>Lanceur de dès</li>
      <li>Sablier</li>
    </ul>
    <h2>Fin de partie!</h2>
    <%= link_to "Compter les scores", new_player_path %>
    <%# Compter les scores ouvre l'update de player %>
    <%= render 'players/form', players: @player %>
  </div>
  <div class="spin-overlay" data-overlay-target="overlay">
    <%= render "parties/roulette", players: @players %>
  </div>
</div>

<%= console %>
