<div class="container">
  <div>
    <h2>Sélection des joueurs</h2>
    <% @party.players.each do |player| %>
      <p><%= player.username %></p>
      <p><%= player.avatar %></p>
    <% end %>
    <%# <%= link_to "Ajouter un joueur", new_player_path %>
    <%= link_to "Retour au jeu", boardgame_path(@boardgame) %>

  </div>
  <h2>C'est parti!</h2>
  <ul>
    <li>Roulette du premier joueur</li>
    <li>Lanceur de dès</li>
    <li>Sablier</li>
  </ul>
  <h2>Fin de partie!</h2>
  <%= link_to "Compter les scores", new_player_path %>
  <%# Compter les scores ouvre l'update de player %>
  <%= render 'players/form', players: @player %>
</div>
