
<div data-controller="overlay"
     data-overlay-labels-value="<%= @labels %>"
     data-overlay-data-value="<%= @data %>"
     data-overlay-rotation-value="<%= @players.count > 1 ? @rotation_values.to_json : "" %>"
  >
  <%# =============== PLAYERS SECTION ===============%>
  <div class="container-party">
    <div class="section-selection">
      <h2 class="title-party mt-3">sélection des joueurs:</h2>
      <div class="player-container">
        <% @players.each do |player| %>
          <%# <h5><%= player.user.username %>
          <% if player.user.avatar.attached? %>
            <%= cl_image_tag player.user.avatar.key, height: 40, width: 40, crop: :fit, class: "avatar" %>
            <%# <% else %>
              <%# <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fit, class: "avatar" %>
        <% end %>
      <% end %>
      </div>
      <%= simple_form_for [@party, @player] do |f| %>
        <%= f.association :user, label: 'Nouveau joueur', label_method: :username, value_method: :id, width: 20 %>
        <%= f.submit "Ajouter", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
  <%# =============== PARTIE EN COURS ===============%>

  <div class="container-go">
    <h2 class="title-party">c'est parti!</h2>
    <% if @players.count >= 2 %>
      <ul>
        <li>Qui commence ? </li>
        <button data-action="click->overlay#display"><i class="fa-regular fa-circle-question"></i></button>
        <%# <li>Lanceur de dès</li>
        <li>Sablier</li> %>
      </ul>
      <div class="spin-overlay" data-overlay-target="overlay">
        <%= render "parties/roulette", players: @players %>
      </div>
    <% end %>
  </div>

  <%# =============== PARTIE FINIE ===============%>

  <h2>Tes défis pour <%= @boardgame.title %></h2>
  <% @boardgame.challenges.each do |challenge| %>
    <% challenge.achievements.each do |achievement| %>
      <ul>
        <% if achievement.completed == 'true' %>
            <li>✅ <%= achievement.challenge.title %></p>
          <% else %>
            <li>❌ <%= achievement.challenge.title %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

    <%# =============== PARTIE FINIE ===============%>
  <div class="container-scores">
    <h2 class="title-party">scores:</h2>
    <div data-controller='form-party-end' >
      <%= render 'players/form_party', players: @player %>
      <%# <%= render 'form_end_party', parties: @party %>
      <%= simple_form_for [@party], data: { action: "submit->form-party-end#endParty" } do |f| %>
        <%= f.hidden_field :players, data: { form_party_end_target: "hidden" } %>
        <%= f.submit "Terminer" %>
      <% end %>
      <%# tu vas avoir un formulaire avec un hidden field de tes players avec leur score %>
    </div>
  </div>


      <button class="btn btn-info"><%= link_to "Retour au jeu", boardgame_path(@boardgame) %></button>
  </div>
</div>

<%= console %>
