<div data-controller="overlay"
  data-overlay-data-value="<%= @data %>"
  data-overlay-labels-value="<%= @labels %>"
  data-overlay-rotation-value="<%= @rotation_values.to_json %>"
  >
  <div class="container">
    <div>
      <h2>Sélection des joueurs</h2>
      <% @party.players.each do |player| %>
        <p><%= player.username %></p>
        <p><%= player.avatar %></p>
      <% end %>
      <%= link_to "Ajouter un joueur", new_party_player_path(@party) %>
      <%# <%= render 'players/new', players: @player %>
      <%= link_to "Retour au jeu", boardgame_path(@boardgame) %>
    </div>
    <h2>C'est parti!</h2>
    <ul>
      <li>Qui commence ? </li>
      <button data-action="click->overlay#display"><i class="fa-regular fa-circle-question"></i></button>
      <li>Lanceur de dès</li>
      <li>Sablier</li>
    </ul>
   </div>
  <div class="spin-overlay" data-overlay-target="overlay">
    <%= render "parties/roulette", players: @players %>
  </div>
  <h2>Fin de partie!</h2>
  <%= render 'players/form_party', players: @player %>
  <button>Terminer la partie</button>
  <%= render 'form_end_party', parties: @party %>
</div>
<%= console %>
