<div class="container">
  <h1 class="title-page">Mon profil</h1>
</div>
<div class="container profil-margin">
  <div class="d-flex align-items-center">
    <%= cl_image_tag current_user.avatar.key, height: 75, width: 75, crop: :fit, class: "avatar" %>
    <div class="d-flex flex-column line-height-none">
      <h2 class="animate-character">Hey <%= current_user.username %> !</h2>
      <h4>Niveau <%= current_user.level %></h4>
      <span class="xp"><em><%= rand(100..9999) %>xp</em></span>
    </div>
  </div>

<%# =====BADGES===== %>
  <div class="d-flex align-items-center mt-5">
    <svg data-bs-toggle="modal" data-bs-target="#cards-badge" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="70"
      height="70"
      viewBox="0 0 200 200">
      <defs>
      <linearGradient
      id="green" x1="57.2" y1="178.02" x2="142.39" y2="26.72"
      gradientTransform="matrix(1, 0, 0, -1, 0, 202)"
      gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#8bc34a"/><stop offset="1" stop-color="#558b2f"/>
      </linearGradient></defs><path d="M100,197.2a20,20,0,0,1-9.8-2.6L23,155.8a19.78,19.78,0,0,1-9.8-17V61.2a19.78,19.78,0,0,1,9.8-17L90.2,5.4a19.77,19.77,0,0,1,19.6,0L177,44.2a19.78,19.78,0,0,1,9.8,17v77.6a19.78,19.78,0,0,1-9.8,17l-67.2,38.8A20,20,0,0,1,100,197.2Z" style="fill:url(#green)"/><path d="M100,5.6a16.85,16.85,0,0,1,8.4,2.3l67.2,38.8A16.84,16.84,0,0,1,184,61.2v77.6a16.6,16.6,0,0,1-8.4,14.5l-67.2,38.8a16.49,16.49,0,0,1-16.8,0L24.4,153.3A16.84,16.84,0,0,1,16,138.8V61.2a16.6,16.6,0,0,1,8.4-14.5L91.6,7.9A16.85,16.85,0,0,1,100,5.6M100,0A22.4,22.4,0,0,0,88.8,3L21.6,41.8A22.47,22.47,0,0,0,10.4,61.2v77.6a22.47,22.47,0,0,0,11.2,19.4L88.8,197a22.41,22.41,0,0,0,22.4,0l67.2-38.8a22.47,22.47,0,0,0,11.2-19.4V61.2a22.47,22.47,0,0,0-11.2-19.4L111.2,3A22.4,22.4,0,0,0,100,0Z" style="fill:#a9d17b"/><title>cartes</title><rect style="fill:#fff"/><path d="M123.92,126.47a1.77,1.77,0,0,1-1.22,2.19L77,141.56a1.77,1.77,0,0,1-2.19-1.22L55,70.28a1.76,1.76,0,0,1,1.22-2.18L102,55.19a1.78,1.78,0,0,1,2.18,1.23Z" style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:0.289591162314687px;fill-rule:evenodd"/><path d="M112.9,120.61c.69-.2,1.2.19,1.54,1.15l1.4-.39c0-.28.06-.54.08-.78l0-.67,1.14-.32-1,6.06-1.74.49-1.45-3.84c-.21-.55-.45-.88-.71-1A.92.92,0,0,1,112.9,120.61Zm2.85,1.42-1.11.31.68,2.06.06.22.22-1.44Z"/><path d="M90.19,105.36a8.13,8.13,0,0,1-4.54,2.42,5,5,0,0,1-6-5.2,11.37,11.37,0,0,1,1.7-5.6,45.84,45.84,0,0,0,4.3-9.75c0-.11.1-.22.18-.41.61.54,1.16,1.05,1.73,1.54a32.88,32.88,0,0,0,6.86,4.5,11.23,11.23,0,0,1,4,3.19c1.36,1.78,2,3.74,1,5.88a5.63,5.63,0,0,1-5.16,3.16,20.75,20.75,0,0,1-2.3-.12,9.59,9.59,0,0,0,4.15,4.61l-6.78,1.92A14.44,14.44,0,0,0,90.19,105.36Z" style="fill-rule:evenodd"/><path d="M65.11,82a1.74,1.74,0,0,1-1,.51,1,1,0,0,1-1.25-1.1,2.32,2.32,0,0,1,.35-1.17,10.16,10.16,0,0,0,.91-2,.92.92,0,0,1,0-.09l.37.33a6.49,6.49,0,0,0,1.44.94,2.34,2.34,0,0,1,.83.67A1.14,1.14,0,0,1,67,81.24,1.19,1.19,0,0,1,66,81.9a4,4,0,0,1-.48,0,2.09,2.09,0,0,0,.87,1l-1.42.4A3.12,3.12,0,0,0,65.11,82Z" style="fill-rule:evenodd"/><path d="M126.75,134.41a1.75,1.75,0,0,1-1.54,2L78,142.11a1.78,1.78,0,0,1-2-1.55L67.28,68.3a1.78,1.78,0,0,1,1.55-2L116,60.6a1.77,1.77,0,0,1,2,1.54Z" style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:0.289591162314687px;fill-rule:evenodd"/><path d="M96.17,94a25.14,25.14,0,0,1,1.74-2.81,6,6,0,0,1,6.92-1.59,5.21,5.21,0,0,1,3,6,14.6,14.6,0,0,1-2.16,5.22c-1.36,2.2-2.78,4.36-4.11,6.58A20.61,20.61,0,0,0,99,113.77c0,.18-.1.35-.15.52a1.5,1.5,0,0,1-.15.12,1.74,1.74,0,0,1-.18-.22c-1.48-3.45-4.06-6-6.69-8.61-1.6-1.56-3.2-3.11-4.73-4.72a7.7,7.7,0,0,1-2.06-3.73,5.38,5.38,0,0,1,5.44-6.56,6.16,6.16,0,0,1,5.16,2.71l.55.73S96.26,94,96.17,94Z" style="fill:#e63d21;fill-rule:evenodd"/><path d="M116.16,127c.71-.09,1.16.37,1.35,1.37l1.44-.17c.08-.27.14-.52.19-.75l.14-.66,1.17-.15-2,5.84-1.79.21-.85-4a1.64,1.64,0,0,0-.55-1.09A.93.93,0,0,1,116.16,127Zm2.6,1.84-1.15.14.36,2.14,0,.22.43-1.38Z" style="fill:#e63d21"/><path d="M75.08,78.51a6.49,6.49,0,0,1,.39-.62A1.31,1.31,0,0,1,77,77.54a1.14,1.14,0,0,1,.66,1.33A3.26,3.26,0,0,1,77.18,80c-.3.48-.62,1-.91,1.45a4.37,4.37,0,0,0-.56,1.4l0,.11s0,0,0,0,0,0,0,0a6.1,6.1,0,0,0-1.48-1.9c-.35-.35-.71-.69-1-1a1.78,1.78,0,0,1-.45-.83,1.19,1.19,0,0,1,1.2-1.45,1.39,1.39,0,0,1,1.14.6l.12.16Z" style="fill:#e63d21;fill-rule:evenodd"/><path d="M128.27,142.69a1.76,1.76,0,0,1-1.88,1.64L79,141.16a1.77,1.77,0,0,1-1.65-1.89l4.86-72.63A1.78,1.78,0,0,1,84.08,65l47.41,3.18a1.77,1.77,0,0,1,1.65,1.88Z" style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:0.289591162314687px;fill-rule:evenodd"/><path d="M119.85,133.49c.72,0,1.07.58,1.07,1.6l1.45.1c.13-.25.24-.48.33-.7l.26-.62,1.18.07-3,5.37-1.8-.12-.08-4.11a1.67,1.67,0,0,0-.34-1.17A.93.93,0,0,1,119.85,133.49Zm2.22,2.3-1.16-.08,0,2.16v.23l.68-1.28Z"/><path d="M102.3,101.15a7.65,7.65,0,0,1-2-5.68,4.39,4.39,0,0,1,4.29-4.39,7.87,7.87,0,0,1,2.37.15c2.9.64,4.2,3,3.36,6.16a8,8,0,0,1-2,3.52c-.14.14-.26.29-.32.36a21.47,21.47,0,0,1,3.3.25,4.84,4.84,0,0,1,4,5,4.53,4.53,0,0,1-5.93,4.18,6.91,6.91,0,0,1-3.6-2.33A12.24,12.24,0,0,0,109,116l-9.51-.63c2.12-1.92,3-4.36,3.6-7.13-.29.23-.45.36-.62.48a6,6,0,0,1-4.67,1.32,4.22,4.22,0,0,1-3.57-3.73,4.37,4.37,0,0,1,2-4.83,6.71,6.71,0,0,1,5.13-.62l.37.1Z" style="fill-rule:evenodd"/><path d="M87.55,79.73A2.05,2.05,0,0,1,87,78.18,1.2,1.2,0,0,1,88.19,77a2.3,2.3,0,0,1,.64,0,1.24,1.24,0,0,1,.92,1.69,2.17,2.17,0,0,1-.53,1l-.09.1a6.69,6.69,0,0,1,.9.06,1.33,1.33,0,0,1,1.1,1.37,1.24,1.24,0,0,1-1.62,1.14,1.93,1.93,0,0,1-1-.64,3.33,3.33,0,0,0,.85,2.1l-2.59-.17a3.47,3.47,0,0,0,1-1.95l-.17.13a1.65,1.65,0,0,1-1.28.36,1.16,1.16,0,0,1-1-1,1.19,1.19,0,0,1,.56-1.32,1.85,1.85,0,0,1,1.4-.17l.1,0Z" style="fill-rule:evenodd"/><path d="M120.34,157.71a1.77,1.77,0,0,1-2.26,1.07L73.36,142.71a1.77,1.77,0,0,1-1.07-2.26L96.9,71.94a1.77,1.77,0,0,1,2.26-1.07l44.73,16.07A1.76,1.76,0,0,1,145,89.2Z" style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:0.289591162314687px;fill-rule:evenodd"/><path d="M104.24,125.49c-.26-1.3-.45-2.54-.77-3.74-.89-3.34-1.83-6.67-2.77-10-.11-.4-.18-.66.25-1,3.81-2.73,7.59-5.49,11.38-8.24a1.84,1.84,0,0,1,.19-.09c.06.16.12.31.17.47q1.69,6.61,3.41,13.23c.09.35.24.63-.21.9a81.56,81.56,0,0,0-11.42,8.3Z" style="fill:#e63d21;fill-rule:evenodd"/><path d="M97.35,89.11c-.07-.33-.12-.64-.2-1-.23-.85-.47-1.7-.71-2.54,0-.11,0-.17.07-.25,1-.69,1.93-1.4,2.89-2.1l0,0a.56.56,0,0,1,0,.12l.87,3.37c0,.09.06.16,0,.22a20.81,20.81,0,0,0-2.91,2.12Z" style="fill:#e63d21;fill-rule:evenodd"/><path d="M116,146.88c-.07-.33-.12-.65-.2-.95-.23-.85-.47-1.7-.71-2.54,0-.11,0-.17.07-.25l2.89-2.1,0,0,.05.12c.28,1.12.57,2.24.86,3.37,0,.09.07.16-.05.22a20.81,20.81,0,0,0-2.91,2.12Z" style="fill:#e63d21;fill-rule:evenodd"/><path d="M61.44,76.61l.73-.31.13,0,.73-.07.1.39L61.54,77Zm.9-5,.76-.2,3,4.41-1.26.34-2.32-3.62.18-.45-.25,4.71-.44.11Zm0,3.23,2-.53.29.39-2.28.61ZM64,76l.81-.34.49-.13,1-.14.11.38-2.27.61Z"/><path d="M72.22,74.82l.77-.2.13,0,.73,0,.05.4-1.63.19ZM73.86,70l.78-.08,2.27,4.79-1.3.15-1.75-3.92.24-.42-.94,4.62-.45.05Zm-.47,3.2,2-.23.22.42-2.35.27Zm1.45,1.35.84-.21.51-.06h1l0,.39-2.34.26Z" style="fill:#e63d21"/><path d="M86.25,74.84l.79-.06h.14l.71.16,0,.41-1.64-.11Zm2.46-4.46.79.05,1.39,5.12-1.31-.08-1-4.17.31-.37-1.74,4.38-.45,0Zm-1,3.06,2.06.13.14.46-2.35-.15ZM88.87,75l.87-.06.51,0,1,.18,0,.39-2.34-.15Z"/><path d="M97.87,80.78l.78.17.12,0,.65.36-.14.38-1.55-.56Zm3.62-3.59.74.27-.11,5.31-1.22-.45.17-4.29.4-.27-2.9,3.72-.42-.16Zm-1.84,2.65,1.93.71V81l-2.21-.81Zm.69,1.86.85.19.48.17.88.44-.14.37-2.21-.8Z" style="fill:#e63d21"/><path d="M115.22,148.44l-.85-.19-.48-.17-.88-.44.14-.37,2.21.8ZM114.07,153l-.74-.27.11-5.31,1.22.45-.17,4.3-.4.26,2.9-3.71.42.15Zm1.84-2.65-1.93-.71v-.47l2.21.8Zm1.78-.94-.78-.16-.12,0-.65-.36.14-.38,1.55.56Z" style="fill:#e63d21"/><g style="opacity:0.079999998211861"><path d="M111.2,3A22.41,22.41,0,0,0,88.8,3L21.6,41.8A22.47,22.47,0,0,0,10.4,61.2v77.6a22.47,22.47,0,0,0,11.2,19.4l61.6,35.6,36.2-186Z" style="fill:#fff"/></g><path d="M128.6,28.8l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52,1.29,1.29,0,0,1-.82-.12L128,46.8a1.28,1.28,0,0,0-1.2,0L122,49.3a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-3.9-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.33,1.33,0,0,1,2.4,0Z" style="fill:#fff"/><path d="M101.2,16.3l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52,1.29,1.29,0,0,1-.82-.12l-4.8-2.5a1.28,1.28,0,0,0-1.2,0l-4.8,2.5a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-4-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.42,1.42,0,0,1,1.92-.58A1.47,1.47,0,0,1,101.2,16.3Z" style="fill:#fff"/><path d="M73.8,28.8l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52A1.29,1.29,0,0,1,78,49.3l-4.8-2.5a1.28,1.28,0,0,0-1.2,0l-4.8,2.5a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-3.9-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.33,1.33,0,0,1,2.4,0Z" style="fill:#fff;isolation:isolate"/>
    </svg>
    <svg data-bs-toggle="modal" data-bs-target="#knight-badge" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="70"
      height="70"
      viewBox="0 0 200 200">
      <defs>
      <linearGradient
      id="green" x1="57.2" y1="178.02" x2="142.39" y2="26.72"
      gradientTransform="matrix(1, 0, 0, -1, 0, 202)"
      gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#8bc34a"/><stop offset="1" stop-color="#558b2f"/>
      </linearGradient></defs><path d="M100,197.2a20,20,0,0,1-9.8-2.6L23,155.8a19.78,19.78,0,0,1-9.8-17V61.2a19.78,19.78,0,0,1,9.8-17L90.2,5.4a19.77,19.77,0,0,1,19.6,0L177,44.2a19.78,19.78,0,0,1,9.8,17v77.6a19.78,19.78,0,0,1-9.8,17l-67.2,38.8A20,20,0,0,1,100,197.2Z" style="fill:url(#green)"/><path d="M100,5.6a16.85,16.85,0,0,1,8.4,2.3l67.2,38.8A16.84,16.84,0,0,1,184,61.2v77.6a16.6,16.6,0,0,1-8.4,14.5l-67.2,38.8a16.49,16.49,0,0,1-16.8,0L24.4,153.3A16.84,16.84,0,0,1,16,138.8V61.2a16.6,16.6,0,0,1,8.4-14.5L91.6,7.9A16.85,16.85,0,0,1,100,5.6M100,0A22.4,22.4,0,0,0,88.8,3L21.6,41.8A22.47,22.47,0,0,0,10.4,61.2v77.6a22.47,22.47,0,0,0,11.2,19.4L88.8,197a22.41,22.41,0,0,0,22.4,0l67.2-38.8a22.47,22.47,0,0,0,11.2-19.4V61.2a22.47,22.47,0,0,0-11.2-19.4L111.2,3A22.4,22.4,0,0,0,100,0Z" style="fill:#a9d17b"/><path d="M99.85,154.83a.88.88,0,0,0,.15-.05.88.88,0,0,1-.15-.05Z" style="fill:#182e4f"/><path d="M100.15,154.76c23.4-6,34.56-24.17,39.67-42.83H100.15Z" style="fill:#fff"/><path d="M137.63,77.66A87.4,87.4,0,0,1,141.76,62l-9.93-2.19c-5.6,4.94-17.75,8.38-31.83,8.41h.15v43.67h39.67C136.13,105.82,135.09,92.43,137.63,77.66Z" style="fill:#e20613"/><path d="M100.15,154.83v-.07a.88.88,0,0,0-.15.05Z" style="fill:#334b72"/><path d="M99.85,68.26H100c-14.08,0-26.23-3.46-31.83-8.4l-9.93,2.19a87.28,87.28,0,0,1,4.13,15.63c2.54,14.75,1.5,28.17-2.19,34.25H99.85Z" style="fill:#fff"/><path d="M60.18,111.91c5.11,18.66,16.24,36.84,39.67,42.82V111.91Z" style="fill:#e20613"/><path d="M99.85,111.91v42.82a.25.25,0,0,0,.3,0V111.91Z" style="fill:#de3658"/><path d="M99.85,111.91h.3V68.26h-.3Z" style="fill:#de3658"/><path d="M100,150.91l-.33-.1c-17.39-4.86-29.26-17.64-35.32-38l-.12-.46.2-.43c3.49-7.69,4.1-20.73,1.65-34.91a98.59,98.59,0,0,0-2.52-11l-.38-1.3,4.08-.89.45.3C74.77,69,86.84,71.93,100,72s25.28-2.92,32.33-7.79l.46-.3,4.07.89-.38,1.3A97.56,97.56,0,0,0,134,77c-2.44,14.18-1.83,27.22,1.66,34.91l.2.43-.2.46c-6.06,20.37-18,33.15-35.32,38ZM66.87,112.54c5.81,19.07,16.94,31.12,33.13,35.75,16.17-4.63,27.32-16.68,33.1-35.75-3.51-8.17-4.15-21.54-1.65-35.93a95.54,95.54,0,0,1,2.21-9.93l-.38-.07c-7.51,4.94-19.89,7.92-33.31,7.94s-25.76-3-33.27-7.94l-.39.07a98.18,98.18,0,0,1,2.22,9.93C71,91,70.39,104.37,66.87,112.54Z" style="fill:#ececec"/><g style="opacity:0.079999998211861"><path d="M111.2,3A22.41,22.41,0,0,0,88.8,3L21.6,41.8A22.47,22.47,0,0,0,10.4,61.2v77.6a22.47,22.47,0,0,0,11.2,19.4l61.6,35.6,36.2-186Z" style="fill:#fff"/></g><path d="M128.6,28.8l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52,1.29,1.29,0,0,1-.82-.12L128,46.8a1.28,1.28,0,0,0-1.2,0L122,49.3a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-3.9-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.33,1.33,0,0,1,2.4,0Z" style="fill:#fff;opacity:0.3"/><path d="M101.2,16.3l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52,1.29,1.29,0,0,1-.82-.12l-4.8-2.5a1.28,1.28,0,0,0-1.2,0l-4.8,2.5a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-4-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.42,1.42,0,0,1,1.92-.58A1.47,1.47,0,0,1,101.2,16.3Z" style="fill:#fff"/><path d="M73.8,28.8l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52A1.29,1.29,0,0,1,78,49.3l-4.8-2.5a1.28,1.28,0,0,0-1.2,0l-4.8,2.5a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-3.9-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.33,1.33,0,0,1,2.4,0Z" style="fill:#fff;isolation:isolate"/>
    </svg>
    <svg data-bs-toggle="modal" data-bs-target="#dice-badge" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="70"
      height="70"
      viewBox="0 0 200 200">
      <defs>
      <linearGradient
      id="green" x1="57.2" y1="178.02" x2="142.39" y2="26.72"
      gradientTransform="matrix(1, 0, 0, -1, 0, 202)"
      gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#8bc34a"/><stop offset="1" stop-color="#558b2f"/>
      </linearGradient></defs><path d="M100,197.2a20,20,0,0,1-9.8-2.6L23,155.8a19.78,19.78,0,0,1-9.8-17V61.2a19.78,19.78,0,0,1,9.8-17L90.2,5.4a19.77,19.77,0,0,1,19.6,0L177,44.2a19.78,19.78,0,0,1,9.8,17v77.6a19.78,19.78,0,0,1-9.8,17l-67.2,38.8A20,20,0,0,1,100,197.2Z" style="fill:url(#green)"/><path d="M100,5.6a16.85,16.85,0,0,1,8.4,2.3l67.2,38.8A16.84,16.84,0,0,1,184,61.2v77.6a16.6,16.6,0,0,1-8.4,14.5l-67.2,38.8a16.49,16.49,0,0,1-16.8,0L24.4,153.3A16.84,16.84,0,0,1,16,138.8V61.2a16.6,16.6,0,0,1,8.4-14.5L91.6,7.9A16.85,16.85,0,0,1,100,5.6M100,0A22.4,22.4,0,0,0,88.8,3L21.6,41.8A22.47,22.47,0,0,0,10.4,61.2v77.6a22.47,22.47,0,0,0,11.2,19.4L88.8,197a22.41,22.41,0,0,0,22.4,0l67.2-38.8a22.47,22.47,0,0,0,11.2-19.4V61.2a22.47,22.47,0,0,0-11.2-19.4L111.2,3A22.4,22.4,0,0,0,100,0Z" style="fill:#a9d17b"/><path d="M58.3,88c-.26-5.85,1.78-10.17,6.86-13.47,8.89-5.6,17.79-11.44,26.94-17a14.55,14.55,0,0,1,16.26,0l22.11,13a16,16,0,0,1,8.39,13c1,9.91,2,20.08,2.8,30,.5,6.1-1.78,11.18-7.12,14.23-9.4,5.34-19.06,10.68-28.72,15.76-4.07,2.29-8.39,2-12.71,0-8.64-4.07-17-8.39-25.66-13a12.57,12.57,0,0,1-7.37-11.19C59.31,108.81,58.8,98.4,58.3,88Zm67.6,3c0-1.77-1.53-3-3.56-3-1,0-1.78.25-2.79.25-10.93,1-22.12,2.29-33,3.3-4.32.51-5.59,3-3.05,6.61l19.06,29.74c.76,1,1.27,2.28,2.79,2,1.53,0,1.78-1.27,2.29-2.29,5.59-11.18,11.44-22.11,17-33.29A7.47,7.47,0,0,0,125.9,91ZM100.74,59.51c-2,0-3.31,1.27-4.32,2.8-4.32,7.37-8.9,14.74-13.22,21.85A3.47,3.47,0,0,0,83,88c1,1.27,2.29,1.27,3.56,1.27,6.35-.51,12.45-1.27,18.8-1.78,5.85-.51,11.69-1,17.79-1.78a2.58,2.58,0,0,0,2.54-1.27c.51-1.27-.25-1.78-1-2.54L104.8,61.29A6.52,6.52,0,0,0,100.74,59.51ZM78.37,97.38a3.54,3.54,0,0,0-3.05,1.78c-3,7.11-6.35,14-9.4,21.09-1.27,2.8.25,5.08,3,5.85l30.5,6.1a1.6,1.6,0,0,0,2-.51c.51-.76.25-1.27-.25-2-.77-1-1.27-2.28-2-3.3-5.84-8.89-11.94-18-17.79-26.94C80.66,98.14,79.9,97.12,78.37,97.38Zm59.22,19.06a26.36,26.36,0,0,1-.76-3c-1.78-6.35-3.82-12.71-5.59-19.32-.26-1-.77-2-2-2-1.27-.25-1.78.76-2,1.53-6.1,11.94-12.2,23.89-18,35.83-.26.51-.77,1.27-.26,1.78s1.27.25,2,0c7.37-2.54,14.49-5.08,21.86-7.62C135.56,122.79,137.59,120,137.59,116.44Zm-63-29.23a7.37,7.37,0,0,0,6.61-3.81c4.57-7.12,8.89-14.23,13.47-21.35.25-.51,1-1.27.51-1.78-.77-.76-1.53,0-2,.26L82.44,67.39C77.36,70.69,72,74,66.94,77.3c-2.8,1.78-2.54,4.83.25,6.35,1.53.77,2.8,1.78,4.32,2.55A7.23,7.23,0,0,0,74.56,87.21ZM61.35,88.74c.25,4.57.5,9.66.76,14.74.25,4.83.51,9.66,1,14.74,0,.51-.26,1.52.76,1.52.76,0,.76-.76,1-1.52,2.8-6.86,5.85-13.73,8.65-20.59a9.22,9.22,0,0,0-2.8-9.91c-1.27-1-2.54-1.78-4.07-2.79-1-.77-2.28-1.53-3.81-.77C61.35,85.43,61.09,86.7,61.35,88.74Zm45.74-28c-.51,1,0,1.27.51,1.78a16.05,16.05,0,0,0,2.29,2c5.59,5.6,11.18,11.19,16.77,17,2,2,4.07,1.53,5.34-1a5.18,5.18,0,0,0-2.29-6.6A250.65,250.65,0,0,0,107.09,60.78ZM71,128.64c.51.51.77.51,1,.76,7.62,3.81,15,7.62,22.62,11.44a5.6,5.6,0,0,0,7.11-1.78A3,3,0,0,0,100,134c-7.63-1.53-15-3-22.62-4.58C75.32,129.15,73.29,128.13,71,128.64Zm67.35-15.5h0c-.25-6.1-.76-12.2-1.27-18-.25-3.56-.76-7.37-1-10.93a2.21,2.21,0,0,0-1.52-2.28c-1.27-.26-1.53,1-1.78,1.77a12.64,12.64,0,0,0-.25,8.14c1.27,3.81,2,8.13,3.3,11.94C136.83,106.78,137.34,110.09,138.35,113.14Zm-8.89,13.21c-3.31,1.27-5.85,2.29-8.64,3.3-3.82,1.28-7.63,2.8-11.69,4.07-2.29.76-4.07,2.8-5.6,5.08-.25.51-.25.77.26,1.27.25.51.76.26,1.27.26.25-.26.76-.26,1-.51,6.6-3.56,13.21-7.12,19.82-10.93A9.26,9.26,0,0,0,129.46,126.35ZM77.87,93.06c1-.51,2.54-.26,2.54-2.29A1.79,1.79,0,0,0,78.12,89a2.13,2.13,0,0,0-2.29,2.29C75.83,92.55,76.34,93.31,77.87,93.06Zm49.55-6.36c.26.77.26,1.78,1.27,1.78S130,87.72,130,87s-.25-1.78-1.52-1.78C127.68,85.18,127.68,85.94,127.42,86.7Zm-21.6,46.77c0-.77-.51-1-1.27-1s-1.52,0-1.52,1a1.2,1.2,0,0,0,1.27,1.27A2,2,0,0,0,105.82,133.47Z" style="fill:#2d67b0"/><path d="M125.9,91a7.47,7.47,0,0,1-1.27,3.31c-5.59,11.18-11.18,22.36-17,33.29-.51,1-.76,2.29-2.29,2.29s-2-1-2.79-2L83.46,98.14c-2.29-3.56-1-6.35,3.05-6.61,10.92-1.27,22.11-2.28,33-3.3,1,0,1.77-.25,2.79-.25A3,3,0,0,1,125.9,91Zm-20.59,12.71c.26-2-.51-2-1.78-1.78-2.79.51-2.79.51-3-2.54V98.9c-.25-.76,0-1.78-1.27-1.78-1.27.26-1,1-.76,2a2.33,2.33,0,0,1-.25,2.54c-1.27,1.27-1.27,2.29.25,3.3a2.31,2.31,0,0,1,.76,1.78,16.43,16.43,0,0,1,.26,3.56,1.52,1.52,0,0,0,.76,1.52,1.55,1.55,0,0,0,1.78-.76A17.46,17.46,0,0,0,105.31,103.73Zm5.59-4.06V97.12c0-.5,0-1-.5-1a1.39,1.39,0,0,0-1.27.76,1.5,1.5,0,0,0-.26,1c-.51,3.81-.25,7.62-.25,11.69,0,.51.25,1,.76,1a4.39,4.39,0,0,0,3.05-1.52c.25-.51.76-.76.25-1.53-.25-.25-.51-.5-.76-.25-1.52.51-1.52-.51-1.52-1.52A54.38,54.38,0,0,1,110.9,99.67Z" style="fill:#498fcc"/><path d="M100.74,59.51a5.4,5.4,0,0,1,3.81,1.78q9.92,10.29,19.82,20.59c.77.76,1.53,1.52,1,2.54a2.59,2.59,0,0,1-2.54,1.27c-5.85.51-11.69,1-17.79,1.78-6.35.51-12.45,1.27-18.81,1.78-1.27.25-2.79.25-3.56-1.27A3.5,3.5,0,0,1,83,84.16c4.32-7.37,8.89-14.48,13.21-21.85C97.43,60.78,98.71,59.51,100.74,59.51ZM111.16,77.3a13.7,13.7,0,0,0-1.27-4.83c-.76-1.27-1.78-2.28-3.31-2A3.58,3.58,0,0,0,103.79,73a8.46,8.46,0,0,0,.25,6.1c1,2.8,2.54,4.07,4.32,3.56C110.14,82.38,111.16,80.6,111.16,77.3ZM97.69,83.65a9.64,9.64,0,0,0,2.29-.5c1-.26,3,.5,2.79-1.53s-1.78-1.27-3-1.27c-.25,0-1,0-1-.25-.26-.51,0-.77.25-1.27.51-.77,1.27-1.27,1.78-2,1-1.52,1-3.81,0-4.83a3.52,3.52,0,0,0-4.07-.76c-.76.26-1.52.76-1.27,1.78s1,.51,1.53.25a1.6,1.6,0,0,1,2,.51c.76.51.51,1.53.25,2-.5.76-1,1.78-1.52,2.54-.76,1-1.78,1.78-2.29,3.05C95.4,82.89,95.91,83.65,97.69,83.65Z" style="fill:#498fcc"/><path d="M78.37,97.38c1.53-.26,2.29.76,3,2,5.85,9.15,12,18,17.79,26.94a14.29,14.29,0,0,1,2,3.3,1.55,1.55,0,0,1,.25,2c-.51.76-1.27.51-2,.51L69,126.1c-3-.51-4.32-3-3-5.85,3-7.11,6.35-14,9.4-21.09A3.24,3.24,0,0,1,78.37,97.38Zm0,24.14c-1.52,0-2-1-2.79-1.52-.26-.26-.76-.77-1.27-.26-.26.26,0,.77.25,1s.51.76,1,1a11,11,0,0,0,10.16,0c2.55-1.27,2.29-3.82,0-5.09a7.76,7.76,0,0,0-5.33-.76C77.36,116.69,76.59,118.47,78.37,121.52Zm3.31-10.16c-1.53,0-2.29.5-2.29,1.52,0,.76.51,1,1.27,1A2,2,0,0,0,83,112.12C83,111.36,81.93,111.36,81.68,111.36Z" style="fill:#498fcc"/><path d="M137.59,116.44a7.62,7.62,0,0,1-4.83,7.37c-7.37,2.54-14.49,5.08-21.86,7.62-.76.26-1.52.51-2,0s0-1.27.26-1.78c6.09-11.94,12.19-23.88,18-35.83.51-.76,1-1.78,2-1.52a2.43,2.43,0,0,1,2,2c1.77,6.35,3.81,12.71,5.59,19.31C137.08,114.66,137.34,115.68,137.59,116.44Zm-6.61-.25a12.3,12.3,0,0,0-.76-4.58c-.51-1.27-1.27-1.52-2.29-.25a7.39,7.39,0,0,0-1,2c-.77,1.52-1.53,2.29-3,1-.77-.77-1.28-.26-1.53.76-.25.76,2.29,4.06,3.3,4.06a.25.25,0,0,0,.26-.25c1-1,1.78-.51,2.79,0,1.27.76,2,0,2.29-1.27Z" style="fill:#498fcc"/><path d="M74.56,87.21a8.74,8.74,0,0,1-3.3-.76c-1.53-.76-2.8-1.78-4.32-2.54-2.8-1.53-3-4.58-.26-6.35C71.77,74.25,77.1,71,82.19,67.64l10.67-6.86c.51-.25,1.27-1.27,2-.25.51.76-.25,1.27-.51,1.78-4.57,7.11-8.89,14.23-13.46,21.34A8.1,8.1,0,0,1,74.56,87.21Zm7.88-15a3.23,3.23,0,0,0-1.52.25c-2.29.76-4.07,2.54-6.61,2.8-.76,0-1.53,1-2,1.78-.25.51-.76,1-.25,1.52.25.51,1,.26,1.53.26.76,0,1.52-.51,2.28-.26,3.31.76,5.85-.76,8.13-3.3.51-.76,1-1.53.51-2.29A2.88,2.88,0,0,0,82.44,72.22Z" style="fill:#498fcc"/><path d="M61.35,88.74c-.26-2,0-3.31,1.27-4.07s2.54,0,3.81.76c1.27,1,2.54,1.78,4.07,2.8a8.32,8.32,0,0,1,2.79,9.91c-2.79,6.86-5.59,13.72-8.64,20.59-.25.5-.25,1.52-1,1.52s-.5-1-.76-1.52c-.25-4.83-.76-9.66-1-14.74C61.85,98.4,61.6,93.31,61.35,88.74Zm6.1,9.4c0-1.78-.26-3.3-.26-4.83,0-.51-.25-1.52-1-1.52s-1,.76-1,1.27c-.76,2.79-1.27,5.84-.26,8.64a1.13,1.13,0,0,1,0,1.27c-.25.51-.76,1.27-.25,1.78.76.25,1-.76,1.27-1.27a.54.54,0,0,1,.51-.51c.51,1-.26,2.29,1,3.3,1-4.06,2.28-7.87,2-12.2C68.46,95.6,68.46,96.87,67.45,98.14Z" style="fill:#498fcc"/><path d="M107.09,60.78c7.63,4.07,15.25,8.64,22.62,13A5.2,5.2,0,0,1,132,80.35c-1.27,2.54-3.31,3.05-5.34,1-5.59-5.59-11.18-11.18-16.77-17-.76-.76-1.53-1.27-2.29-2C107.35,62.05,106.58,61.8,107.09,60.78ZM124.88,75a3.07,3.07,0,0,1-.76-2.54.88.88,0,0,0-.51-.25,4.49,4.49,0,0,1-2.54-1,1.11,1.11,0,0,0-1.27.26c-.25.5.25.76.51,1,1,1,2.54,1.53,3,3,0,.26.51.26.76.26A.68.68,0,0,0,124.88,75Z" style="fill:#498fcc"/><path d="M71,128.64c2.55-.51,4.32.51,6.36.76,7.62,1.53,15,3,22.62,4.58a3,3,0,0,1,1.77,5.08,5.92,5.92,0,0,1-7.11,1.78C87,137,79.64,133.21,72,129.4,71.77,129.15,71.51,129.15,71,128.64Zm22.88,7.88a4.56,4.56,0,0,0-1.78-2c-1-.5-2-1-3-.5-.26,0-.26.25-.51.5,0,.51.25.51.51.51a3.07,3.07,0,0,1,3,2c.25.51.51.51,1,.51C93.62,137.79,93.88,137.28,93.88,136.52Z" style="fill:#498fcc"/><path d="M138.35,113.14c-.76-3-1.52-6.36-2.54-9.41-1.27-3.81-2-8.13-3.3-11.94a11.22,11.22,0,0,1,.25-8.14c.25-1,.76-2,1.78-1.77s1.27,1.27,1.52,2.28c.51,3.56.77,7.37,1,10.93.51,6.1.76,12,1.27,18Zm-3-19.57V89.25a.76.76,0,1,0-1.52,0C133.78,90.52,133.52,92.3,135.3,93.57Z" style="fill:#498fcc"/><path d="M129.46,126.35a8.3,8.3,0,0,1-3.82,2.54c-6.6,3.56-13.21,7.12-19.82,10.93-.25.25-.76.25-1,.51-.5.25-.76.25-1.27-.26a2.3,2.3,0,0,1-.25-1.27,10.83,10.83,0,0,1,5.59-5.08c3.81-1.27,7.63-2.79,11.69-4.07C123.36,128.64,126.15,127.62,129.46,126.35ZM112.68,134a2.8,2.8,0,0,0-2.54.76c-.25.25-.51.76-.25,1,.25.51.76.26,1,0A2.48,2.48,0,0,0,112.68,134Z" style="fill:#498fcc"/><path d="M77.87,93.06c-1.53,0-2-.51-1.78-1.78A2.13,2.13,0,0,1,78.37,89c1.27,0,2.29.51,2.29,1.78C80.41,92.8,78.88,92.8,77.87,93.06Z" style="fill:#498fcc"/><path d="M127.42,86.7c.26-.76,0-1.52,1-1.52S130,85.94,130,87c0,.76-.25,1.52-1.27,1.52S127.68,87.47,127.42,86.7Z" style="fill:#498fcc"/><path d="M105.82,133.47a1.61,1.61,0,0,1-1.52,1.27c-.77,0-1.27-.26-1.27-1.27s.76-1,1.52-1S105.82,132.7,105.82,133.47Z" style="fill:#498fcc"/><path d="M105.31,103.73a18.93,18.93,0,0,1-3.3,7.37c-.51.51-1,1-1.78.76s-.76-1-.76-1.52c0-1.27-.26-2.29-.26-3.56a2.74,2.74,0,0,0-.76-1.78c-1.27-1-1.27-2-.25-3.3.76-.76.25-1.78.25-2.54-.25-.76-.51-1.78.76-2s1.27.77,1.27,1.78v.51c.26,3,.26,3,3,2.54C104.8,101.7,105.57,101.7,105.31,103.73ZM100.74,106c.25.76,0,2.29.76,2.54,1,.25,1.27-1.27,1.53-2.29.25-.5.5-1.27,0-1.78s-1-.25-1.53,0C100.74,104.49,100.74,105.26,100.74,106Z" style="fill:#fff"/><path d="M110.9,99.67c-.25,2-.25,4.06-.5,6.1,0,1,0,2,1.52,1.52.25,0,.76,0,.76.25.26.51,0,1-.25,1.53a4,4,0,0,1-3.05,1.52c-.76,0-.76-.5-.76-1,0-3.81,0-7.63.25-11.69,0-.26.26-.77.26-1,.25-.51.5-1,1.27-.76.5,0,.5.76.5,1Z" style="fill:#fff"/><path d="M111.16,77.3c0,3.3-1,5.08-2.8,5.59-1.78.26-3.3-1-4.32-3.56a8.46,8.46,0,0,1-.25-6.1c.51-1.27,1-2.54,2.79-2.54,1.78-.25,2.55.77,3.31,2A8.39,8.39,0,0,1,111.16,77.3ZM105.31,75a10.21,10.21,0,0,0,.77,3.82c.5,1,1,1.77,2.28,1.52,1-.25,1.27-1.27,1.27-2.29a10.15,10.15,0,0,0-.76-3.81c-.51-1-1-2-2.29-1.78C105.06,72.73,105.31,74,105.31,75Z" style="fill:#fff"/><path d="M97.69,83.65c-2,0-2.54-.76-1.78-2.28.51-1.27,1.78-2,2.29-3.05a22.71,22.71,0,0,0,1.52-2.54,1.91,1.91,0,0,0-.25-2,2,2,0,0,0-2-.51c-.5.26-1.27.77-1.52-.25-.25-.76.51-1.52,1.27-1.78a3.89,3.89,0,0,1,4.07.76c1,1,1,3.31,0,4.83-.51.77-1.27,1.27-1.78,2-.26.25-.76.76-.26,1.27a1.57,1.57,0,0,0,1,.25c1.27,0,2.8-1,3,1.27.25,2-1.78,1.27-2.8,1.53C99.21,83.4,98.45,83.4,97.69,83.65Z" style="fill:#fff"/><path d="M78.37,121.52c-2-3-1-4.83,2-5.33a7.86,7.86,0,0,1,5.33.76c2.29,1.52,2.29,3.81,0,5.08a11,11,0,0,1-10.16,0,2,2,0,0,1-1-1c-.25-.25-.51-.76-.25-1,.51-.51.76,0,1.27.25C76.34,120.51,77.1,121.52,78.37,121.52Zm3.31-.51c1.27,0,2.28-.5,2.28-1.78a1.79,1.79,0,0,0-2-1.77c-1.27,0-2.29.5-2.29,2C79.39,120.76,80.66,121,81.68,121Z" style="fill:#fff"/><path d="M81.68,111.36c.25,0,1.27,0,1.27,1a2.23,2.23,0,0,1-2.29,1.78c-.76,0-1.52-.25-1.27-1C79.39,112.12,80.15,111.36,81.68,111.36Z" style="fill:#fff"/><path d="M131,116.19v1.52c-.25,1.27-1,2-2.29,1.27-1-.51-1.77-1-2.79,0l-.26.25c-.76,0-3.55-3-3.3-4.06s.76-1.53,1.53-.76c1.52,1.27,2.28.5,3-1,.25-.76.76-1.27,1-2,.76-1.27,1.53-1.27,2.29.25A12.3,12.3,0,0,1,131,116.19Zm-1.27-.51c-.25-.51,0-1.78-.76-1.78s-1.27,1-1.27,1.78A1.2,1.2,0,0,0,129,117C129.71,117,129.71,116.44,129.71,115.68Z" style="fill:#fff"/><path d="M82.44,72.22c.76,0,1.78,0,2,.76.51.76,0,1.53-.51,2.29-2.28,2.29-4.82,3.81-8.13,3.3-.76-.25-1.52.26-2.28.26-.51,0-1,.25-1.53-.26s0-1,.25-1.52a3.5,3.5,0,0,1,2-1.78c2.54-.26,4.32-2,6.61-2.8A3.23,3.23,0,0,1,82.44,72.22Zm-1,2.54a.67.67,0,0,0-.76-.76c-.76,0-3.56,1.52-3.81,2.28,0,.26-.26.77.25,1C78.12,77.56,81.42,75.78,81.42,74.76Zm-8.64,3A2.81,2.81,0,0,0,75.07,76,2.36,2.36,0,0,0,72.78,77.81Z" style="fill:#fff"/><path d="M67.45,98.14c1-1.27.76-2.54,2-3.56.25,4.32-1,8.14-2,12.2-1.28-1.27-.51-2.54-1-3.3-.51,0-.51.25-.51.51-.25.5-.51,1.52-1.27,1.27s0-1,.25-1.78a1.13,1.13,0,0,0,0-1.27c-1-3-.5-5.85.26-8.64.25-.51.25-1.53,1-1.27.77,0,.77,1,1,1.52A20.18,20.18,0,0,1,67.45,98.14ZM65.67,95.6c-.26,1.78-.51,2.8.25,4.32C66.17,98.4,66.43,97.12,65.67,95.6Z" style="fill:#fff"/><path d="M124.88,75c0,.51-.25.77-.76,1-.25.25-.76.25-.76-.25-.51-1.53-2-2.29-3-3.31-.26-.25-.76-.51-.51-1a.89.89,0,0,1,1.27-.26,4.49,4.49,0,0,0,2.54,1,.88.88,0,0,1,.51.25A3.07,3.07,0,0,0,124.88,75Z" style="fill:#fff"/><path d="M93.88,136.52c0,.76-.26,1.27-.77,1.27s-.76,0-1-.51a3.07,3.07,0,0,0-3-2c-.26,0-.76-.26-.51-.51a.54.54,0,0,1,.51-.51,2.78,2.78,0,0,1,3,.51A4,4,0,0,1,93.88,136.52Z" style="fill:#fff"/><path d="M135.3,93.57c-1.52-1.27-1.27-2.8-1.27-4.32a.77.77,0,1,1,1.53,0A22.7,22.7,0,0,0,135.3,93.57Z" style="fill:#fff"/><path d="M112.68,134a3,3,0,0,1-1.78,1.77c-.25.26-.76.51-1,0-.26-.25,0-.76.25-1C110.9,134.48,111.67,133.72,112.68,134Z" style="fill:#fff"/><path d="M100.74,106c0-.76,0-1.53.76-1.78.51-.25,1-.51,1.53,0s.25,1.27,0,1.78c-.26,1-.51,2.54-1.53,2.29C100.74,108.31,101,106.78,100.74,106Z" style="fill:#498fcc"/><path d="M105.31,75c0-1-.25-2.28,1-2.54s1.78.76,2.29,1.78a10.15,10.15,0,0,1,.76,3.81c0,.77,0,2-1.27,2.29-1,.25-1.78-.51-2.29-1.52A20,20,0,0,1,105.31,75Z" style="fill:#498fcc"/><path d="M81.68,121c-1,0-2.29-.25-2.29-1.78s1-2,2.29-2,2,.51,2,1.78C84,120.76,82.69,121,81.68,121Z" style="fill:#498fcc"/><path d="M129.71,115.68c0,.76,0,1.27-.76,1-.76,0-1.53-.25-1.27-1.27,0-.76.51-1.78,1.27-1.78C129.71,113.9,129.46,115.17,129.71,115.68Z" style="fill:#498fcc"/><path d="M81.42,74.76c0,1-3,3-4.06,2.54-.51-.25-.51-.51-.26-1,.26-.76,2.8-2.54,3.82-2.28C81.17,74,81.42,74.25,81.42,74.76Z" style="fill:#498fcc"/><path d="M72.78,77.81A3.22,3.22,0,0,1,75.07,76,2.81,2.81,0,0,1,72.78,77.81Z" style="fill:#498fcc"/><path d="M65.67,95.6c.76,1.52.5,2.8.25,4.32C65.16,98.4,65.41,97.38,65.67,95.6Z" style="fill:#498fcc"/><g style="opacity:0.079999998211861"><path d="M111.2,3A22.41,22.41,0,0,0,88.8,3L21.6,41.8A22.47,22.47,0,0,0,10.4,61.2v77.6a22.47,22.47,0,0,0,11.2,19.4l61.6,35.6,36.2-186Z" style="fill:#fff"/></g><path d="M128.6,28.8l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52,1.29,1.29,0,0,1-.82-.12L128,46.8a1.28,1.28,0,0,0-1.2,0L122,49.3a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-3.9-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.33,1.33,0,0,1,2.4,0Z" style="fill:#fff;opacity:0.3"/><path d="M101.2,16.3l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52,1.29,1.29,0,0,1-.82-.12l-4.8-2.5a1.28,1.28,0,0,0-1.2,0l-4.8,2.5a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-4-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.42,1.42,0,0,1,1.92-.58A1.47,1.47,0,0,1,101.2,16.3Z" style="fill:#fff;opacity:0.3"/><path d="M73.8,28.8l2.4,4.9a1.18,1.18,0,0,0,1,.7l5.4.8a1.34,1.34,0,0,1,1.11,1.54,1.33,1.33,0,0,1-.41.76l-3.9,3.8a1.37,1.37,0,0,0-.4,1.2l.9,5.4a1.32,1.32,0,0,1-1.08,1.52A1.29,1.29,0,0,1,78,49.3l-4.8-2.5a1.28,1.28,0,0,0-1.2,0l-4.8,2.5a1.3,1.3,0,0,1-1.77-.51,1.37,1.37,0,0,1-.13-.89l.9-5.4a1.37,1.37,0,0,0-.4-1.2l-3.9-3.8a1.34,1.34,0,0,1,.7-2.3l5.4-.8a1.42,1.42,0,0,0,1-.7l2.4-4.9a1.33,1.33,0,0,1,2.4,0Z" style="fill:#fff;isolation:isolate"/>
    </svg>
  </div>

  <div class="modal fade" id="cards-badge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Maître Des Cartes - Niveau passioné</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ce badge est obtenu par l'ajout de jeux de cartes en collection.
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="knight-badge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chevalier - Niveau Adepte</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ce badge est obtenu par l'ajout de jeux en collection sur le thème médieval.
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dice-badge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rôliste - Niveau amateur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ce badge est obtenu par l'ajout de jeux de rôles en collection.
        </div>
      </div>
    </div>
  </div>
</div>

<%# =====SCORE TOTAL===== %>
<div class="container my-5 background-card">
  <% if @parties.count >= 1 %>
    <p><%= current_user.victories %> victoire(s) / <%= @parties.count %> parties jouée(s)</p>
    <p>Taux de victoire : <%= sprintf("%0.0f", (current_user.victories.to_f / @parties.count.to_f) * 100) %> %</p>
  <% else %>
   <p>Tu n'as pas encore joué 😿</p>
  <% end %>
  <% @parties.each do |party| %>
    <% if party.end_time && party.start_time != nil %>
      <% @total_min += (party.end_time - party.start_time) / 60 %>
      <% @total_hours += (party.end_time - party.start_time) / 3600 %>
      <% @total_days += (party.end_time - party.start_time) / 86400 %>
    <% end %>
  <% end %>
  <p>Temps cumulé : <%= @total_min.to_i %> minutes.</p>
</div>

<%# =====DEFIS REMPORTES===== %>
<div class="container collection">
  <h3>Défi(s) remporté(s) </h3>
</div>
<div class="challenges-container my-4">
  <% if current_user.challenge_ids == [] %>
    <li><em>Vous n'avez pas encore remporté de défi.</em></li>
  <% end %>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <% @achievements.each do |boardgame, achievements| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading<%= boardgame.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= boardgame.id %>" aria-expanded="false" aria-controls="flush-collapse<%= boardgame.id %>">
            <%= boardgame.title %>
          </button>
        </h2>
        <div id="flush-collapse<%= boardgame.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= boardgame.id %>" data-bs-parent="#accordionFlushExample">
          <ul class="mb-3 p-3">
            <% achievements.each do |a| %>
                <li class="challenge-card"><i class="fa-solid fa-check" style="color: #27dd5e;"></i> <%= a.challenge.title %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# =====MES DERNIERES PARTIES===== %>
<div class="container collection">
  <h3>Mes dernières parties </h3>
</div>
<div class="accordion accordion-flush my-4" id="accordionFlushExample">
  <% @parties.take(5).each do |party| %>
    <% if party.end_time.nil? == false %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-<%= party.id %>" aria-expanded="false" aria-controls="flush-<%= party.id %>">
          <%= party.boardgame.title %>
        </button>
      </h2>
      <div id="flush-<%= party.id %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <%= party.end_time.strftime("Partie jouée le : %d/%m/%Y")%>
          <% party.players.each do |player| %>
            <p><%= player.user.username %> a marqué <%= player.score %> points</p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<%# =====COLLECTION===== %>
<div class="container collection">
  <h3>Collection </h3>
  <div class="cards">
      <% current_user.boardgames.each do |boardgame| %>
        <div>
          <%= render "shared/card", boardgame: boardgame %>
        </div>
      <% end %>
  </div>
</div>

<%# =====LOGOUT===== %>
<%= render "shared/logout" %>
