<div class="container mt-3">
  <div class="row justify-content-center">
    <div id="search-container" class="d-flex my-3"  data-controller="search">
      <%= form_with url: boardgames_path, method: :get, class: "d-flex flex-grow-1" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un jeu...",
              data: {action: 'keyup->search#handleSubmit', target: 'search.query'},
              id: 'search-input'
          %>
        <%= button_tag "Chercher", name: "", class: "btn btn-dark ms-2", id: "btn-search" do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
        <% end %>
      <% end %>
      <div
        data-lens-gcloud-id-value="<%= ENV['GCLOUD_CLIENT_ID'] %>"
        data-lens-gcloud-secret-value="<%= ENV['GCLOUD_CLIENT_SECRET'] %>"
        data-lens-gcloud-refresh-value="<%= ENV['GCLOUD_REFRESH_TOKEN'] %>"
        data-lens-gcloud-project-value="<%= ENV['GCLOUD_QUOTA_PROJECT'] %>"
        data-controller="lens"
        class="video-view ms-2">
        <video autoplay id="video" class="hidden"></video>
        <button id="captureButton" class="btn btn-dark btn-large">
          <i class="fa-solid fa-camera" style="color: #000000;"></i>
        </button>
        <button id="captureImgButton" class="btn btn-info btn-large camera-btn hidden mt-3"><i class="fa-solid fa-camera" style="color: #ffffff;"></i></i></button>
        <canvas id="canvas" class="hidden"></canvas>
        <button id="sendImgButton" class="btn btn-info btn-large camera-btn hidden mt-3"><i class="fa-solid fa-share-from-square" style="color: #ffffff;"></i></button>
      </div>
    </div>
  </div>
</div>
