  <div class="d-none d-flex align-items-center justify-content-between p-4" data-form-party-end-target="playerFormContainer">
    <div>
      <% @players.order(score: :desc).each do |player| %>
        <%= simple_form_for [@party, player], data: {
            form_party_end_target: 'playerForm',
            player_id: player.id
        } do |f| %>
        <div class="d-flex align-items-center">
          <%= cl_image_tag player.user.avatar.key, height: 40, width: 40, crop: :fit, class: "avatar" %>
          <strong><%= player.user.username %></strong>&nbsp;:
          <%= f.input :score,
                      label: false,
                      class: 'score-field' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@party], data: { action: "submit->form-party-end#updateParty" } do |f| %>
      <%= f.hidden_field :players, data: { form_party_end_target: "hidden" } %>
      <%= f.submit "Confirmer", class: "btn btn-info" %>
    <% end %>
  </div>
