<h1>Ajouter un joueur</h1>

<%= simple_form_for [@party, @player] do |f| %>
  <%# <%= f.input :username %>
  <%= f.association :user %>
  <%= f.submit "Ajouter", class: "btn btn-info"%>
<% end %>

<%= console %>
