<div class="game-banner">
  <img class="show-img" src="<%= cl_image_path @boardgame.photo.key, height: 300, crop: :fit %>"/>
  <% if current_user.boardgame_ids.include?(@boardgame.id) %>
    <%= link_to game_to_user_path(GameToUser.find_by(user:current_user, boardgame:@boardgame)), class: "remove-submit-btn-style btn-validate", data: {turbo_method: :delete} do %>
      <i class="fa-regular fa-square-minus fa-2xl" style="color: red;"></i>
    <% end %>
    <%= link_to "Commencer une partie", new_boardgame_party_path(@boardgame) %>
  <% else %>
    <%= link_to boardgame_game_to_users_path(@boardgame), class: "remove-submit-btn-style btn-validate", data: {turbo_method: :post} do %>
      <i class="fa-regular fa-square-plus fa-2xl" style="color: green;"></i>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div>
    <h1 class="mt-3" ><%= @boardgame.title %></h1>
  </div>
  <div class="game-info-container">
    <ul>
      <% @boardgame.category.split(',').each do |element|  %>
        <li class="category"><%= element %></li>
      <% end %>
    </ul>
    <div>
      <div>
        <i class="fa-solid fa-people-group"> <%= @boardgame.min_player %> - <%= @boardgame.max_player %></i>
        <i class="fa-solid fa-child-reaching"> <%= @boardgame.age %>+</i>
        <i class="fa-regular fa-hourglass-half"><%= @boardgame.play_time %> mn</i>
        <i class="fa-regular fa-star"><%= @boardgame.rating %></i>
      </div>
      <p><%= @boardgame.description %></p>
    </div>
  </div>
  <div class="party-container">
    <h2>Mes parties</h2>
    <h3>Mes partenaires</h3>
    <div class="player-container">
      <%# <%= User.first.boardgame_players(Boardgame.first.id) %>
      <% @boardgame.parties.last.players.each do |player| %>
        <div>
          <h5><%= player.username %></h5>
          <%= player.avatar %>
        </div>
      <% end %>
    </div>
    <div>
      <h4>Stats du jeu</h4>
      <h5>Dernière partie: <%= @boardgame.parties.last.updated_at %></h5>
      <% @boardgame.parties.last.players.each do |player| %>
        <%= player.score %>
      <% end %>
    </div>
    <div class="challenge-container">
      <h2>Challenges</h2>
      <ul>
        <li>Faire 10 parties</li>
        <li>Gagner 5 parties</li>
        <li>Obtenir 500 points cumulés</li>
      </ul>
    </div>
  </div>
</div>
