<div class="container">
  <h1>show</h1>
  <div>
  <img src="<%= cl_image_path @boardgame.image, height: 300, crop: :cover %>"/>
    <h1><%= @boardgame.title %></h1>
    <%= link_to game_to_users_path do%>
      <i class="fa-regular fa-bookmark"></i>
    <% end %>
    <%= console %>
  </div>
  <div class="game-info-container">
    <ul>
      <% @boardgame.category.split(',').each do |element|  %>
        <li><%= element %></li>
      <% end %>
    </ul>
    <div>
      <div>
        <i class="fa-solid fa-people-group"> <%= @boardgame.min_player %> - <%= @boardgame.max_player %></i>
        <i class="fa-solid fa-child-reaching"> <%= @boardgame.age %>+</i>
        <i class="fa-regular fa-hourglass-half"><%= @boardgame.play_time %> mn</i>
        <i class="fa-regular fa-star"><%= @boardgame.rating %></i>
      </div>
      <p><%= @boardgame.description %></p>
    </div>
  </div>
  <div class="party-container">
    <h2>Mes parties</h2>
      <h3>Mes partenaires</h3>
    <div class="player-container">
      <%# <%= player.avatar %>
      <%= link_to "Ajouter un joueur", to: new_player_path %>
    </div>
    <div>
      <h4>Stats du jeu</h4>
      <%# <% <h5>Dernière partie: <%= @latest_party %></h5>

    </div>
    <div class="challenge-container">
      <h2>Challenges</h2>
      <ul>
        <li>Faire 10 parties</li>
        <li>Gagner 5 parties</li>
        <li>Obtenir 500 points cumulés</li>
      </ul>
    </div>
  </div>
</div>
