<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
  <head>
    <title>Time2play</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <!-- Chart JS Plugin for displaying text over chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% unless action_name == "welcome" %>
      <%= render "shared/tab_bar" %>
    <% end %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
